.banner-show {
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-show {
  width: 70px;
}

.flat-id {
  display: flex;
  justify-content: space-between;

}

.flat-owner {

}

.flat-title {

}
